### üìÇ Carga de Datos  

En esta secci√≥n se realizar√° la carga de los datos que se utilizar√°n para el an√°lisis de informaci√≥n donde se exploraran los datos del **Super Bowl**

Las fuentes de los datos son **3 archivos en formato CSV**, los cuales contienen la informaci√≥n relacionada con audiencia de television, los resultados de los juegos y los espectaculos de medio tiempo

### Archivos CVS utilizados
1. `halftime_musicians.csv`
2. `super_bowls.csv`
3. `tv.csv`


### üéØ Objetivo
- Unificar los archivos en un **DataFrame**
- Realizar la **limpieza de los datos** y validar la informaci√≥n
- Preparar los datos para el **an√°lisis exploratorio inicial**

In [2]:
import pandas  as pd
from IPython.display import display, Markdown

In [3]:
#Carga de los datos
df_halftime_musicians = pd.read_csv('../Data/Raw/halftime_musicians.csv')
df_super_bowls = pd.read_csv('../Data/Raw/super_bowls.csv')
df_tv = pd.read_csv('../Data/Raw/tv.csv')

In [13]:
#Validar la carga de los datos
display(Markdown("**DATOS ESPECTACULOS DE MEDIO TIEMPO**".center(100,'-')))
display(df_halftime_musicians.head())

-------------------------------**DATOS ESPECTACULOS DE MEDIO TIEMPO**-------------------------------

   super_bowl                               musician  num_songs
0          52                      Justin Timberlake       11.0
1          52  University of Minnesota Marching Band        1.0
2          51                              Lady Gaga        7.0
3          50                               Coldplay        6.0
4          50                                Beyonc√©        3.0

In [ ]:
#Validar la carga de los datos
display(Markdown("**DATOS RESULTADOS SUPER BOWLS**".center(100,'-')))
display(df_super_bowls.head())

----------------------------------**DATOS RESULTADOS SUPER BOWLS**----------------------------------

,date,super_bowl,venue,city,state,attendance,team_winner,winning_pts,qb_winner_1,qb_winner_2,coach_winner,team_loser,losing_pts,qb_loser_1,qb_loser_2,coach_loser,combined_pts,difference_pts
0,2018-02-04,52,U.S. Bank Stadium,Minneapolis,Minnesota,67612,Philadelphia Eagles,41,Nick Foles,NaN,Doug Pederson,New England Patriots,33,Tom Brady,NaN,Bill Belichick,74,8
1,2017-02-05,51,NRG Stadium,Houston,Texas,70807,New England Patriots,34,Tom Brady,NaN,Bill Belichick,Atlanta Falcons,28,Matt Ryan,NaN,Dan Quinn,62,6
2,2016-02-07,50,Levi's Stadium,Santa Clara,California,71088,Denver Broncos,24,Peyton Manning,NaN,Gary Kubiak,Carolina Panthers,10,Cam Newton,NaN,Ron Rivera,34,14
3,2015-02-01,49,University of Phoenix Stadium,Glendale,Arizona,70288,New England Patriots,28,Tom Brady,NaN,Bill Belichick,Seattle Seahawks,24,Russell Wilson,NaN,Pete Carroll,52,4
4,2014-02-02,48,MetLife Stadium,East Rutherford,New Jersey,82529,Seattle Seahawks,43,Russell Wilson,NaN,Pete Carroll,Denver Broncos,8,Peyton Manning,NaN,John Fox,51,35

In [ ]:
display(Markdown("**DATOS NULOS DEL SUPER BOWLS**".center(100,'-')))
df_super_bowls.isnull().sum()

----------------------------------**DATOS NULOS DEL SUPER BOWLS**-----------------------------------

date               0
super_bowl         0
venue              0
city               0
state              0
attendance         0
team_winner        0
winning_pts        0
qb_winner_1        0
qb_winner_2       50
coach_winner       0
team_loser         0
losing_pts         0
qb_loser_1         0
qb_loser_2        49
coach_loser        0
combined_pts       0
difference_pts     0
dtype: int64

In [31]:
display(Markdown("**ELIMINAR LAS COLUMNAS DEL SUPER BOWLS**".center(100,'-')))
df_super_bowls = df_super_bowls.drop(columns=['qb_winner_2','qb_loser_2' ])
df_super_bowls.isnull().sum()

-----------------------------**ELIMINAR LAS COLUMNAS DEL SUPER BOWLS**------------------------------

date              0
super_bowl        0
venue             0
city              0
state             0
attendance        0
team_winner       0
winning_pts       0
qb_winner_1       0
coach_winner      0
team_loser        0
losing_pts        0
qb_loser_1        0
coach_loser       0
combined_pts      0
difference_pts    0
dtype: int64

In [32]:
#Validar la carga de los datos
display(Markdown("**DATOS AUDIENCIA TELEVISI√ìN**".center(100,'-')))
display(df_tv.head())

-----------------------------------**DATOS AUDIENCIA TELEVISI√ìN**-----------------------------------

,super_bowl,network,avg_us_viewers,total_us_viewers,rating_household,share_household,rating_18_49,share_18_49,ad_cost
0,52,NBC,103390000,NaN,43.1,68,33.4,78.0,5000000
1,51,Fox,111319000,172000000.0,45.3,73,37.1,79.0,5000000
2,50,CBS,111864000,167000000.0,46.6,72,37.7,79.0,5000000
3,49,NBC,114442000,168000000.0,47.5,71,39.1,79.0,4500000
4,48,Fox,112191000,167000000.0,46.7,69,39.3,77.0,4000000

In [33]:
df_tv.isnull().sum()

super_bowl           0
network              0
avg_us_viewers       0
total_us_viewers    38
rating_household     0
share_household      0
rating_18_49        38
share_18_49         47
ad_cost              0
dtype: int64

In [ ]:
#Filtrar los datos nulo
df_tv[df_tv.isnull().any(axis=1)]

,super_bowl,network,avg_us_viewers,total_us_viewers,rating_household,share_household,rating_18_49,share_18_49,ad_cost
0,52,NBC,103390000,NaN,43.1,68,33.4,78.0,5000000
6,46,NBC,111346000,163500000.0,47.0,71,40.5,NaN,3500000
7,45,Fox,111041000,162900000.0,46.0,69,39.9,NaN,3100000
8,44,CBS,106476000,153400000.0,45.0,68,38.6,NaN,2800000
9,43,NBC,98732000,151600000.0,42.0,64,36.7,NaN,3000000
10,42,Fox,97448000,148300000.0,43.1,65,37.5,NaN,2699963
11,41,CBS,93184000,139800000.0,42.6,64,35.2,NaN,2385365
12,40,ABC,90745000,141400000.0,41.6,62,NaN,NaN,2500000
13,39,Fox,86072000,NaN,41.1,62,NaN,NaN,2400000
14,38,CBS,89795000,144400000.0,41.4,63,NaN,NaN,2302200
15,37,ABC,88637000,138500000.0,40.7,61,NaN,NaN,2200000
16,36,Fox,86801000,NaN,40.4,61,NaN,NaN,2200000
17,35,CBS,84335000,NaN,40.4,61,NaN,NaN,2200000
18,34,ABC,88465000,NaN,43.3,63,37.9,NaN,2100000
19,33,Fox,83720000,NaN,40.2,61,36.4,NaN,1600000
20,32,NBC,90000000,NaN,44.5,67,NaN,NaN,1291100
21,31,Fox,87870000,NaN,43.3,65,NaN,NaN,1200000
22,30,NBC,94080000,NaN,46.0,68,41.2,NaN,1085000
23,29,ABC,83420000,NaN,41.3,62,NaN,NaN,1150000
24,28,NBC,90000000,NaN,45.5,66,NaN,NaN,900000
25,27,NBC,90990000,NaN,45.1,66,NaN,NaN,850000
26,26,CBS,79590000,NaN,40.3,61,NaN,NaN,850000
27,25,ABC,79510000,NaN,41.9,63,NaN,NaN,800000
28,24,CBS,73852000,NaN,39.0,67,NaN,NaN,700400
29,23,NBC,81590000,NaN,43.5,68,NaN,NaN,675000
30,22,ABC,80140000,NaN,41.9,62,NaN,NaN,645000
31,21,CBS,87190000,NaN,45.8,66,NaN,NaN,600000
32,20,NBC,92570000,NaN,48.3,70,NaN,NaN,550000
33,19,ABC,85530000,NaN,46.4,63,NaN,NaN,525000
34,18,CBS,77620000,NaN,46.4,71,NaN,NaN,368200
35,17,NBC,81770000,NaN,48.6,69,NaN,NaN,400000
36,16,CBS,85240000,NaN,49.1,73,NaN,NaN,324300
37,15,NBC,68290000,NaN,44.4,63,NaN,NaN,275000
38,14,CBS,76240000,NaN,46.3,67,NaN,NaN,222000
39,13,NBC,74740000,NaN,47.1,74,NaN,NaN,185000
40,12,CBS,78940000,NaN,47.2,67,NaN,NaN,162300
41,11,NBC,62050000,NaN,44.4,73,NaN,NaN,125000
42,10,CBS,57710000,NaN,42.3,78,NaN,NaN,110000
43,9,NBC,56050000,NaN,42.4,72,NaN,NaN,107000
44,8,CBS,51700000,NaN,41.6,73,NaN,NaN,103500
45,7,NBC,53320000,NaN,42.7,72,NaN,NaN,88100
46,6,CBS,56640000,NaN,44.2,74,NaN,NaN,86100
47,5,NBC,46040000,NaN,39.9,75,NaN,NaN,72500
48,4,CBS,44270000,NaN,39.4,69,NaN,NaN,78200
49,3,NBC,41660000,NaN,36.0,70,NaN,NaN,55000
50,2,CBS,39120000,NaN,36.8,68,NaN,NaN,54500
51,1,CBS,26750000,51180000.0,22.6,43,NaN,NaN,42500
52,1,NBC,24430000,NaN,18.5,36,NaN,NaN,37500

In [ ]:
#Elmimnar las columnas
df_tv = df_tv.drop(columns=['total_us_viewers','rating_18_49','share_18_49' ])
df_tv.isnull().sum()

super_bowl          0
network             0
avg_us_viewers      0
rating_household    0
share_household     0
ad_cost             0
dtype: int64

##### üóÇÔ∏è **TIPOS DE DATOS Y NOMBRE DE LAS COLUMNAS DEL DATAFRAME**
Para explorar la estructura de un DataFrame en **Pandas**, es importante identificar tanto los nombres de las columnas como el tipo de dato que contiene cada una de ellas. Esto permite verificar si la informaci√≥n est√° correctamente representada

In [38]:
display(Markdown("**INFORMACI√ìN ESPECTACULOS DE MEDIO TIEMPO**".center(100,'-')))
df_halftime_musicians.info()

display(Markdown("**INFORMACI√ìN RESULTADOS DEL SUPER BOWLS**".center(100,'-')))
df_super_bowls.info()

display(Markdown("**INFORMACI√ìN AUDIENCIA TV**".center(100,'-')))
df_tv.info()

----------------------------**INFORMACI√ìN ESPECTACULOS DE MEDIO TIEMPO**----------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   super_bowl  134 non-null    int64
 1   musician    134 non-null    object
 2   num_songs   88 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.3+ KB

-----------------------------**INFORMACI√ìN RESULTADOS DEL SUPER BOWLS**-----------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            52 non-null     object
 1   super_bowl      52 non-null     int64
 2   venue           52 non-null     object
 3   city            52 non-null     object
 4   state           52 non-null     object
 5   attendance      52 non-null     int64
 6   team_winner     52 non-null     object
 7   winning_pts     52 non-null     int64
 8   qb_winner_1     52 non-null     object
 9   coach_winner    52 non-null     object
 10  team_loser      52 non-null     object
 11  losing_pts      52 non-null     int64
 12  qb_loser_1      52 non-null     object
 13  coach_loser     52 non-null     object
 14  combined_pts    52 non-null     int64
 15  difference_pts  52 non-null     int64
dtypes: int64(6), object(10)
memory usage: 6.6+ KB

------------------------------------**INFORMACI√ìN AUDIENCIA TV**------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   super_bowl        53 non-null     int64
 1   network           53 non-null     object
 2   avg_us_viewers    53 non-null     int64
 3   rating_household  53 non-null     float64
 4   share_household   53 non-null     int64
 5   ad_cost           53 non-null     int64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.6+ KB

### üß© Uni√≥n de Tablas y Plan de Limpieza de Datos

Para iniciar el an√°lisis de ventas junto con los datos de los clientes, se realiza una **uni√≥n de las tablas `halftime_musicians` , `super_bowls` , `tv` usando `outer join`**. Esto permite trabajar con **toda la informaci√≥n disponible** antes de hacer la limpieza.

In [39]:
df = pd.merge(df_super_bowls, df_tv, on='super_bowl', how='outer')
df = pd.merge(df, df_halftime_musicians, on='super_bowl', how='outer')
display(Markdown("**INFORMACI√ìN DATAFRAME UNIFICADO**".center(100,'-')))
df.info()

--------------------------------**INFORMACI√ìN DATAFRAME UNIFICADO**---------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              137 non-null    object
 1   super_bowl        137 non-null    int64
 2   venue             137 non-null    object
 3   city              137 non-null    object
 4   state             137 non-null    object
 5   attendance        137 non-null    int64
 6   team_winner       137 non-null    object
 7   winning_pts       137 non-null    int64
 8   qb_winner_1       137 non-null    object
 9   coach_winner      137 non-null    object
 10  team_loser        137 non-null    object
 11  losing_pts        137 non-null    int64
 12  qb_loser_1        137 non-null    object
 13  coach_loser       137 non-null    object
 14  combined_pts      137 non-null    int64
 15  difference_pts    137 non-null    int64
 16  network           137 non-null    object
 17  avg_us_viewers    137 non-null    int64
 18  rating_household  137 non-null    float64
 19  share_household   137 non-null    int64
 20  ad_cost           137 non-null    int64
 21  musician          137 non-null    object
 22  num_songs         88 non-null     float64
dtypes: float64(2), int64(9), object(12)
memory usage: 24.7+ KB

In [40]:
display(df.head())

,date,super_bowl,venue,city,state,attendance,team_winner,winning_pts,qb_winner_1,coach_winner,...,coach_loser,combined_pts,difference_pts,network,avg_us_viewers,rating_household,share_household,ad_cost,musician,num_songs
0,1967-01-15,1,Memorial Coliseum,Los Angeles,California,61946,Green Bay Packers,35,Bart Starr,Vince Lombardi,...,Hank Stram,45,25,CBS,26750000,22.6,43,42500,University of Arizona Symphonic Marching Band,NaN
1,1967-01-15,1,Memorial Coliseum,Los Angeles,California,61946,Green Bay Packers,35,Bart Starr,Vince Lombardi,...,Hank Stram,45,25,CBS,26750000,22.6,43,42500,Grambling State University Tiger Marching Band,NaN
2,1967-01-15,1,Memorial Coliseum,Los Angeles,California,61946,Green Bay Packers,35,Bart Starr,Vince Lombardi,...,Hank Stram,45,25,CBS,26750000,22.6,43,42500,Al Hirt,NaN
3,1967-01-15,1,Memorial Coliseum,Los Angeles,California,61946,Green Bay Packers,35,Bart Starr,Vince Lombardi,...,Hank Stram,45,25,NBC,24430000,18.5,36,37500,University of Arizona Symphonic Marching Band,NaN
4,1967-01-15,1,Memorial Coliseum,Los Angeles,California,61946,Green Bay Packers,35,Bart Starr,Vince Lombardi,...,Hank Stram,45,25,NBC,24430000,18.5,36,37500,Grambling State University Tiger Marching Band,NaN

In [41]:
# Validar los datos nulos 
display(Markdown("**VALORES NULOS POR COLUMNA**".center(100,'-')))
null_counts = df.isnull().sum()
print(null_counts)

-----------------------------------**VALORES NULOS POR COLUMNA**------------------------------------

date                 0
super_bowl           0
venue                0
city                 0
state                0
attendance           0
team_winner          0
winning_pts          0
qb_winner_1          0
coach_winner         0
team_loser           0
losing_pts           0
qb_loser_1           0
coach_loser          0
combined_pts         0
difference_pts       0
network              0
avg_us_viewers       0
rating_household     0
share_household      0
ad_cost              0
musician             0
num_songs           49
dtype: int64

In [42]:
#Identificar las filas duplicadas
duplicates = df[df.duplicated()]
print("N√∫mero de filas duplicadas:", len(duplicates))

N√∫mero de filas duplicadas: 0

In [26]:
#Filtrar los datos nulo
df[df.isnull().any(axis=1)]

,date,super_bowl,venue,city,state,attendance,team_winner,winning_pts,qb_winner_1,qb_winner_2,...,network,avg_us_viewers,total_us_viewers,rating_household,share_household,rating_18_49,share_18_49,ad_cost,musician,num_songs
0,1967-01-15,1,Memorial Coliseum,Los Angeles,California,61946,Green Bay Packers,35,Bart Starr,NaN,...,CBS,26750000,51180000.0,22.6,43,NaN,NaN,42500,University of Arizona Symphonic Marching Band,NaN
1,1967-01-15,1,Memorial Coliseum,Los Angeles,California,61946,Green Bay Packers,35,Bart Starr,NaN,...,CBS,26750000,51180000.0,22.6,43,NaN,NaN,42500,Grambling State University Tiger Marching Band,NaN
2,1967-01-15,1,Memorial Coliseum,Los Angeles,California,61946,Green Bay Packers,35,Bart Starr,NaN,...,CBS,26750000,51180000.0,22.6,43,NaN,NaN,42500,Al Hirt,NaN
3,1967-01-15,1,Memorial Coliseum,Los Angeles,California,61946,Green Bay Packers,35,Bart Starr,NaN,...,NBC,24430000,NaN,18.5,36,NaN,NaN,37500,University of Arizona Symphonic Marching Band,NaN
4,1967-01-15,1,Memorial Coliseum,Los Angeles,California,61946,Green Bay Packers,35,Bart Starr,NaN,...,NBC,24430000,NaN,18.5,36,NaN,NaN,37500,Grambling State University Tiger Marching Band,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,2016-02-07,50,Levi's Stadium,Santa Clara,California,71088,Denver Broncos,24,Peyton Manning,NaN,...,CBS,111864000,167000000.0,46.6,72,37.7,79.0,5000000,Youth Orchestra Los Angeles,3.0
133,2016-02-07,50,Levi's Stadium,Santa Clara,California,71088,Denver Broncos,24,Peyton Manning,NaN,...,CBS,111864000,167000000.0,46.6,72,37.7,79.0,5000000,Gustavo Dudamel,3.0
134,2017-02-05,51,NRG Stadium,Houston,Texas,70807,New England Patriots,34,Tom Brady,NaN,...,Fox,111319000,172000000.0,45.3,73,37.1,79.0,5000000,Lady Gaga,7.0
135,2018-02-04,52,U.S. Bank Stadium,Minneapolis,Minnesota,67612,Philadelphia Eagles,41,Nick Foles,NaN,...,NBC,103390000,NaN,43.1,68,33.4,78.0,5000000,Justin Timberlake,11.0
136,2018-02-04,52,U.S. Bank Stadium,Minneapolis,Minnesota,67612,Philadelphia Eagles,41,Nick Foles,NaN,...,NBC,103390000,NaN,43.1,68,33.4,78.0,5000000,University of Minnesota Marching Band,1.0

In [43]:
#Exportar el dataframe limpio
df.to_csv('../Data/Processesd/super_bowls_clean.csv', index=False)